


body{
    /* background-color: rgb(206, 223, 223); */
    background-image: url(imgs/fondo.gif);
    display: grid;
    

}

h1{
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.493);
    border: 1px solid black;
    border-radius: 8px;
}

p{
    width: 80px;
}
img{
    width: 20%;
    filter: drop-shadow(2px 4px 6px black);
}

#gran_caja{
    display: flex;
    justify-content: space-evenly;
    height: 600px;

}

.cajas_principales{
    width: 300px;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.493);
    /* background-image: url(imgs/textura_cristal.avif);
    background-size: auto; */
        
    border: 2px solid black;
    border-radius: 8px;
    justify-items: center;

    display: grid;
    align-items: center;

}

.cristal{
    position: absolute;

}


#caja_inventario{
    align-items: stretch;
}



#contenedor_items{
    height: 95%;
    width: 95%;
    overflow: auto;
}

.elemento{
    display: flex;
    width: 180px;
    height: 30px;
    padding: 10px;

    border: 2px solid black;
    border-radius: 8px;

    background-color: rgba(128, 128, 128, 0.326);
    margin: 12%;

    justify-content: space-evenly;
    align-items: center;
}




.estacion_trabajo{
    /* background-color: rgba(255, 255, 255, 0.571); */
    border: 2px #3c3c3c dashed;
    border-radius: 8px;
    width: 75%;
    height: 80%;

    transition: 0.15s linear;
    justify-items: center;
}

.estacion_trabajo > p{
    width: auto;
}


.info_elementos{
    display: flex;
    background-color: rgb(228, 228, 228, 0.5);
    border: 2px solid black;
    border-radius: 8px;
    width: 80%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

.info_elementos > *{
    margin: 4px;
}

span{
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 20px;
    height: 22px;
    text-align: center;
}


.valida{
    background-color: rgba(0, 177, 0, 0.379);
    width: 80%;
    height: 85%;
}

.invalida{
    background-color: rgba(177, 0, 0, 0.379);
}


.imgs_items{
    width: 20%;
    position: absolute;

}

#mensaje_vacio{
    border: none;
    background: none;
}


.lleno{
    display: none;
}
.vacio{
    display: block;
}